@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */
*{
    margin: 0;
    padding: 0;
}
#hero{
    height: 963px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 700px;
    margin: 0 auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 38px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}
.sub{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;
}
.button{
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
display: table;
margin: 0 auto
}
#why-wd .titile2{
    
    margin-top: 100px;
    padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 40px;
}
.psub2{
    width: 852px;
    max-width: 100%; 
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;

}
#side2 {
    height: 463px;
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}

#side2 .container3 {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.text-container {
    width: 50%;
    max-width: 470px;
    padding-right: 20px;
}

.last {
    width: 50%;
    max-width: 500px;
    height: auto;
}

.titile3 {
    width: 100%;
    height: 72px;
    padding: 0;
    margin: 16px 0;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.paragraph {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.button1 {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 42px;
}
#side3 {
    height: 463px;
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}

#side3 .container4 {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:s;
}

.text-container {
    width: 50%;
    max-width: 470px;
    padding-right: 20px;
}

.last {
    width: 50%;
    max-width: 500px;
    height: auto;
}

.titile3 {
    width: 100%;
    height: 72px;
    padding: 0;
    margin: 16px 0;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.paragraph {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.button2 {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 42px;
}

#side3 {
    height: 463px;
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}

#side3 .container4 {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:s;
}

.text-container1 {
    width: 50%;
    max-width: 470px;
    padding-right: 20px;
}

.last1 {
    width: 50%;
    max-width: 500px;
    height: auto;
}

.titile4 {
    width: 100%;
    height: 72px;
    padding: 0;
    margin: 16px 0;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.paragraph1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.button2 {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 42px;
}
#side4 {
    height: 463px;
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}

#side4 .container5 {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;;
    margin-bottom: 50px;
}

.text-container2 {
    width: 50%;
    max-width: 470px;
    padding-right: 20px;
}

.last2 {
    width: 50%;
    max-width: 300px;
    height: auto;
    text-align:;
}

.titile5 {
    width: 100%;
    height: 72px;
    padding: 0;
    margin: 16px 0;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.paragraph3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.button3 {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 42px;
}

#my-insp{
    
 margin-top: 100px;
 padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 400px;
}
.container{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 100px;
}
.psub2{
    margin-top: 40px;
    width: 852px;
    max-width: 100%; 
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
